@import "tailwindcss";

@theme {
    --color-admin: #1800ad;
    --color-hadmin: #dbeafe;
    --color-cashier: #2e6417;
    --color-hcashier: #bfecab;
    --color-waiter: #ff2828;
    --color-hwaiter: #f5c6c6;
    --color-kitchen: #ffb300;
    --color-hkitchen: #f5e7c6;
    --color-customer: #ff2828;
}

.Hadmin {
    @apply hover:bg-hadmin;
  }
  
  .Hcashier {
    @apply hover:bg-hcashier;
  }
  
  .Hwaiter {
    @apply hover:bg-hwaiter;
  }
  
  .Hkitchen {
    @apply hover:bg-hkitchen;
  }
  